<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aaronbieber.apps.lamplighter" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Check the status of the network at intervals -->
        <service
            android:name=".service.NetworkCheckService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver
            android:name=".receiver.HeartbeatReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <!-- Receive boot completed action and start service -->
        <receiver
            android:name=".receiver.StartNetworkCheckServiceAtBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="StartNetworkCheckServiceAtBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Receive Wi-Fi connection state changes -->
        <receiver android:name=".receiver.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:label="Lamplighter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
